@import url("pepper-ginder-custom.css");

/* just some styling */
body {
/*	font: 0.7em/1.5em "Trebuchet MS",Verdana,sans-serif;*/
	
}

h1 {
	text-align: center;
	margin: 1.5em;
}

h2 {
/*	border-top: 1px dotted #AAA;*/
	margin-top: 10px;
	margin-bottom: 10px;
}  
.center{
    text-align: center;
}
.right{
    text-align: right;
}
h4 {margin-bottom: 0;}

p {margin-top: .3em;}

code, pre.code {
	font: 11px/13px monospace;
	background-color: #FFC;
	padding: 2px;
	border: 1px dotted grey;
}

.clear {clear: both;}

a {text-decoration: none; color: #800;}
a:hover {text-decoration: underline;}

#share {
	position: absolute;
	right: 20px;
	top: 20px;
	text-align: right;
}

#page {
	position: relative;
	margin: 1em auto;
	padding: 2em;
	width: 960px;
	background: white url('images/ui-bg_fine-grain_10_f8f7f6_60x60.png') repeat;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #D9D6C4;
	color: #1F1F1F;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

#demos-list {padding: 0;}

#flairs {text-align: center;}
#flairs ul {list-style: none; padding: 0;}
#flairs li {display: inline;}

.demo {
	vertical-align: top;
	display: inline-block;
	margin: 1em 1%;
	width: 44%;
	background-color: rgba(0, 0, 0, .1);
	padding: 0 2%;
	border-radius: 10px;
}

.demo.full-row {
	width: 95%;
}

.demo ul, .demo ol {list-style-position: inside;}
.demo .box {
	float: left;
	margin: 0 1em 1em 0;
}

.example {
	color: #006400;
}

.important-note {
	font-weight: bold;
	color: #B22222;
}

.reference-to {
	font-size: large;
	font-weight: bold;
}

.code-box {clear:both;}
.code {
	padding: 5px;
	color: #333;
	background-color: white;
	font: small monospace;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #F8F7F6 url('images/ui-bg_fine-grain_10_f8f7f6_60x60.png') 50% 50% repeat;
}

/* begin: jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: red none;
    color: white;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-picked a {
    background: #2bbf69 none;
    color: white;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-overtime_date a {
    background: #e67e22 none;
    color: white;
}  
.ui-datepicker .ui-datepicker-calendar .ui-state-logwork_date a {
    background: yellow none ;
    color: white;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-holiday a, .ui-state-holiday span{
    cursor:wait !important;
    background: #e74c3c !important;
    color: white;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-leave_fulldate a, .ui-state-leave_fulldate span{
    cursor:wait !important;
    background: #2980b9 !important;
    color: white;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-leave_halfdate a, .ui-state-leave_halfdate span {
    background: #2ecc71 !important;
    color: white;
}
.ui-datepicker-noday{
     cursor:wait !important;
}
.ui-state-disabled{
     cursor:wait !important;
}

/* end: jQuery UI Datepicker emphasis on selected dates */


/* begin: jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}
/* end: jQuery UI Datepicker hide datepicker helper */              

#lbltext{
    background: white !important;
    color: black;
    font-size: 1em;
}
/**
* hoc bui
*/

.overtime_date, .logwork_date,.holiday, .leave_fulldate, .leave_halfdate{
    line-height: 22px;
    border: 1px solid #ccc;
    color: white;
}
.today{
   line-height: 22px;
    border: 1px solid #ccc; 
}

.overtime_date{
    background-color: #e67e22;
}

.logwork_date{
    background-color: yellow;
}
.holiday{
    background-color: #e74c3c !important;
}

.leave_fulldate{
    background-color: #2980b9 !important;
}
.leave_halfdate{
    background-color: #2ecc71 !important;
}
.today{
    background-color: #D3C05A; 
}


div#result{
    background-color: #F7E6E6;
    padding: 10px;
    }
    
    div#added_entries{
    border-top: 1px solid blue;    
/*    padding-top: 10px;*/
    background-color: #E8EEF6;
}
    
#list label{
    cursor: pointer;
}

/***
* 
*/
/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body  {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

.container {
    background: #e74c3c;
    min-height: 100%;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    /*visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;*/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    /*visibility: visible;*/
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    background: #25609B;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.md-content h3 {
    color: #fff;
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
} 

#popupDescription {
    margin: 10px;
    width: 90%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    resize:none;
}

.button_primary {
    background-color: #ffffff !important;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff) !important;
    background-image: -ms-linear-gradient(top, #ffffff,#ffffff) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff)) !important;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff) !important;
    background-image: -o-linear-gradient(top, #ffffff, #ffffff) !important;
    background-image: linear-gradient(top, #ffffff, #ffffff) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#177ee5', endColorstr='#1264b7', GradientType=0) !important;
    border-color: #ffffff #ffffff #ffffff !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    color: #25609B !important;
    padding: 5px 20px 5px 20px !important;
    font-weight: bold !important;
}

.button_blue {
    background-color: #177ee5 !important;
    background-image: -moz-linear-gradient(top, #177ee5, #177ee5) !important;
    background-image: -ms-linear-gradient(top, #177ee5,#177ee5) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#177ee5), to(#177ee5)) !important;
    background-image: -webkit-linear-gradient(top, #177ee5, #177ee5) !important;
    background-image: -o-linear-gradient(top, #177ee5, #177ee5) !important;
    background-image: linear-gradient(top, #177ee5, #177ee5) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#177ee5', endColorstr='#1264b7', GradientType=0) !important;
    border-color: #177ee5 #177ee5 #177ee5 !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    color: #fff !important;
    padding: 5px 20px 5px 20px !important;
    top: -1px;
    position: relative;
    font-weight: normal !important;
}

.button_midnight {
    background-color: #364c62 !important;
    background-image: -moz-linear-gradient(top, #364c62, #364c62) !important;
    background-image: -ms-linear-gradient(top, #364c62,#364c62) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#364c62), to(#364c62)) !important;
    background-image: -webkit-linear-gradient(top, #364c62, #364c62) !important;
    background-image: -o-linear-gradient(top, #364c62, #364c62) !important;
    background-image: linear-gradient(top, #364c62, #364c62) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#364c62', endColorstr='#364c62', GradientType=0) !important;
    border-color: #364c62 #364c62 #364c62 !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    color: #fff !important;
    padding: 5px 20px 5px 20px !important;
    top: -1px;
    position: relative;
    font-weight: normal !important;
}

.button_primary:hover{
    background-color: #ffffff !important;
}

#btnOKDescription{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*----------------------------Alert Box------------------------------------------------*/

.message
{
        -webkit-background-size: 40px 40px;
        -moz-background-size: 40px 40px;
        background-size: 40px 40px;            
        background-image: -webkit-gradient(linear, left top, right bottom,
                                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                                to(transparent));
        background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
        background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
        background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
        background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
                                
         -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
         -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);        
         box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
         width: 100%;
         border: 1px solid;
         color: #fff;
         _position: absolute;
         text-shadow: 0 1px 0 rgba(0,0,0,.5);
         -webkit-animation: animate-bg 5s linear infinite;
         -moz-animation: animate-bg 5s linear infinite;
}

.error
{
         background-color: #de4343;
         border-color: #c43d3d;
    display: inline-block;
}

.success{
     background-color: #61b832;
     border-color: #55a12c;
     display: inline-block;
} 

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

img#imgAlert {
    float: left;
    padding: 15px;
}

img#imgInfo {
    float: left;
    padding: 10px;
}