.dynamicTable {
    width : 95% ! important;
}
.dynamicTable td {          
    text-align: center;
}   
.number{
    text-align:right;
    padding-right:10px;
}
.number{
    text-align:right;
    padding-right:10px;
}