.date{
    margin-left:240px;
    margin-top:5px;
    width: 250px; 
    border-collapse: collapse;                
}
.customer{
    margin-left:115px;
    margin-top:18px;
    border-collapse: collapse; 
    height: 300px;
    width: 550px;
}
table, tr, td{
    height: 29px;  
/*    border :1px solid;  */
}

p {
    word-break: break-all;
    font-family: arial; 
    font-size:14px;
    
/*    line-height: 100%;*/
}
.detail{
    vertical-align: top; 
    border-collapse: collapse; 
    width: 800px; 
/*    table-layout: fixed; */
    height: 600px;

}
.invoice_detail{
    position:fixed;
    top: 425px;
}

.money_string{
    position:fixed;
    top: 838px;
    left:-30px; 
}

.total{
    position:fixed;
    top: 770px;
    left: 430px;
}

