.date_no{
    margin-left:300px;
    font-size: 12px;
    width : 350px;
}
td,th,table{
      border-collapse: collapse;
/*      border : 1px solid;*/
}
.receiver{
    margin-left:150px;
  /*  border :1px solid;*/
    height:20px;
    padding-top: 4px;
    padding-left: 5px;
}
.customer{
    margin-left:150px;
   /* border :1px solid; */
    height:20px;
    /*padding-top: 4px;  */
}
.ticket{
    table-layout: fixed;
    width:100%;
    word-wrap:break-word;
    font-size: 9px;
}
.total_amount{
    
}
.ticketing{
    
}
