/*.customer {
    position:absolute;
    left:560px;
    top:320px;
    width:180px;
    font-size : 13px;
    border : 1px solid; 
    height:15px;
}   */

.customer,.vat_code, .address {
    margin-left: 210px;
    font-size : 13px;
    padding-top: 4px;
    /*border : 1px solid; */
    /*      padding-left: 20px;*/
    height:15px;
}


.ticket{
    /*border : 1px solid; */
    table-layout: fixed;
    border-collapse: collapse; 
    width:100%;
    /*position:absolute;
    top:250px; */
}
td{
    height: 20px;
    font-size:12px;
    text-align:center;
/*    border : 1px solid;  */
    border-collapse: collapse;
    padding-left: -30px;

}
.total,.value_added_tax,.other_tax,.total_amount,.in_words,.payment_method,.receipt_date{
    position:absolute;
    font-size:13px;
    /*border :1px solid;   */
    text-align:center;
    padding-left: -30px;
    padding-top: 10px;
}
.total{
    left:560px;
    top:320px;
    width:180px;
}
.value_added_tax{
    left:250px;
    top:335px;
    width:200px;
}
.other_tax {
    left:250px;
    top:354;
    width:200px;
}
.total_amount{
    left:450px;
    top:371px;
    width:200px;
}
.in_words{
    left:150px;
    top :385px;
    width:75%;
}
.payment_method{
    left:250px;
    top:402px;
    width:200px;
}
.receipt_date{
    left: 635px;
    top:435px;
    padding-left: 5px;
}