table, th, td {

    font-size: 12px;
    padding-top: 5px;
}

table {
    border-collapse: collapse;
    width:100%;
}

.td_header {
    width:70%; 
    text-align:center;
    font-weight: bold;
    font-size: 18px;
}

.td_logo {
    width:30%;
    vertical-align: top;
}

.td_header {
    width:70%;
}

.lbl_invoice_date{
    width:20%;
    text-align: right;
}

.lbl_document_id{
    width:15%;
    text-align: right;
}

.receiver {
    padding-top: 15px;
}

.tbl_detail,.tbl_signal {
    margin-top: 20px;
}

.tbl_detail th {
    vertical-align: top;
    background-color: aliceblue;
    font-weight: normal;
}

.tbl_detail th,.tbl_detail td {
    font-size: 10px;
    border: 1px solid black;
}

.lbl_total_amount {
    background-color: aliceblue;
    font-weight: bold;
    padding: 8px;
}

.total_amount {
    background-color: aliceblue;
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
}

.tr_signal td {
    text-align: center;
    font-weight: bold;
}

.ticketing{
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
}

.footer  {
    text-align: center;
    font-size: 10px;
}

.email  {
/*    color: blue;*/
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}

