.timework_table {
    border-collapse: collapse !important;
}

.timework_table th, .timework_table td {
    border: 1px solid #ccc !important;    
}
.timework_table th, .th_class {
    background:#dfdfdf !important;
}